html,
body,
#root {
  height: 100%;
  padding: 0;
  /* overflow: auto; */
}
#sidebar {
  /* background-color: #1d1919; */
  background-image: linear-gradient(to bottom, #015180, #000000);
}
.sidemenu-btn {
  color: white;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

a {
  color: linear-gradient(to bottom, #015180, #000000);
  text-decoration: none;
}
.main-heading {
  color: black;
  font-size: 25px;
  text-decoration: underline;
}

body {
  font-family: Poppins;
  font-weight: 400;
}
.button {
  background-color: #7464bc;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 1cm;
  border: 1px solid black;
}
p {
  color: rgba(255, 255, 255, 0.8);
}

table {
  margin-top: 15px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.tabledata {
  height: 45px;
  padding-left: 30px;
  border-collapse: collapse;
  font-weight: normal;
}
tr,
td {
  border-width: 1px;
  border-style: groove;
  padding-left: 50px;
  height: 30px;
  border-collapse: collapse;
  font-weight: bold;
}

th {
  padding-left: 50px;
  height: 30px;
}
.table-box {
  border: 1px;
  border-style: groove;
  background-color: white;
  height: 85%;
  padding: 20px;
  overflow-y: scroll;
}

.outer-box {
  background-color: #f5f5f5;
  /* background-image: linear-gradient(to bottom, #bdc2eb, #000000); */
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  height: 13%;
}
.search-div {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  align-items: center;
  height: 10%;
}
.loader-div {
  height: 90%;
}
